:root {
    --couleur-primaire : #53606C;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#footer * {
   /* visibility: hidden; */
    vertical-align: middle; /* Optionnel, pour un meilleur alignement */
}
