:root {
    --couleur-primaire : #0E6270;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#footer * {
   /* visibility: hidden; */
    vertical-align: middle; /* Optionnel, pour un meilleur alignement */
}

footer#footer div.container div#nav h2 {
   /visibility: hidden; 
}
