:root {
    --couleur-primaire : #53606C;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #f0f0f0;
}
#footer * {
    line-height: 30px; /* Aligne le texte verticalement */
    vertical-align: middle; /* Optionnel, pour un meilleur alignement */
}