:root {
    --couleur-primaire : #53606C;
}


#footer {
    height: 30px;
    max-height: 30px;
    overflow: hidden; 
}
#footer * {
    line-height: 30px; /* Aligne le texte verticalement */
    vertical-align: middle; /* Optionnel, pour un meilleur alignement */
}