:root {
    --couleur-primaire : #53606C;
}

body {
color: #fff;
background-color:#1f222a;
}


footer, .skip-links{
    display: none;
}
/*
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#footer * {
   vertical-align: middle; 
}

#footer .container #nav h2 {
   visibility: hidden; 
}
*/
