:root {
    --couleur-primaire : #0E6270;
}

footer, .skip-links{
    display: none;
}
/*
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#footer * {
   vertical-align: middle; 
}

#footer .container #nav h2 {
   visibility: hidden; 
}
*/
